.movie-card-container {
  display: inline-block;
}

.movie-card {
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.movie-card-image {
 max-width: 100%;
 height: auto;
 max-height: 350px;
 object-fit: cover;
}

.col {
  padding: 0px !important;
}

.movie-card-button {
  color: #033159;
  position: absolute;
  bottom: 0px;
  display: inline-block;
  background-color: white;
  width: 85%;
  box-sizing: border-box;
}