.register-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  background-color: #033159 !important;
}

.register-container {
  padding: 0 !important;
}

.register-button {
  background-color: red !important;
  border-color: #000;
  color: white !important;
}

.register-button:hover {
  background-color: #000 !important;
  border-color: #000;
}

.register-back-button {
  background-color: white;
  color: black;
  font-weight: 500;
  border-color: #000;
  margin-left: 60px;
  }

.register-back-button:hover, .register-back-button:focus, .register-back-button:active {
  background-color: #000;
  border-color: #000;
  color: white !important;
  text-decoration: none;
}
