.navbar {
  width: 100%;
  height: 75px;
  background-color: red;
}

.navbar-collapse {
  flex-grow: unset !important;
}

.nav-link {
  color: #033159 !important;
  font-size: 14pt;
  font-weight: bold;
}