.navbar-header {
  width: 100%;
  height: auto;
  background-color: red;
}

.navbar-collapse {
  justify-content: end;
}

.nav-link {
  color: #033159 !important;
  font-size: 14pt;
  font-weight: bold;
  margin: auto;
}

.navbar-logout {
  background-color: #033159;
  border: none;
}

.navbar-logout:hover, .navbar-logout:active, .navbar-logout:focus {
  background-color: #000 !important;
  border-color: #000 !important;
}

.navbar-logo {
  height: 50px;
  margin-bottom: 10px;
}