.director-image {
  text-align: center;
  margin-top: 50px;
}

.director-img {
  height: 300px;
}

.director-name  {
  text-align: center;
  font-weight: 500;
}

.director-props {
  margin-left: 90px;
  margin-right: 90px;
}

.director-bio {
  font-size: 18px;
  font-weight: 500;
}

.director-back-button {
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: #033159;
  border-color: #000;
  align-items: center;
}

.director-back-button:hover, .director-back-button:focus, .director-back-button:active {
    background-color: #000 !important;
    border-color: #000 !important;
  }